body {
    background-color: mediumaquamarine;
    font-family: Arial, sans-serif;
    height: 700px;
}

.header {
    background-image: linear-gradient(to bottom, #03122e, #001b5b);
    top: 0px;
    width: 85%;
    height: 135px;
    font-size: 20px;
    background-color: rgb(0, 98, 158);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0px 0px 30px 30px;
    z-index: 1000;
}

    .header table {
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
    }

        .header table td {
            width: 160px;
        }

#content {
    background-image: linear-gradient(to bottom, #fff, #fff);
    width: 82%;
    height: 610px;
    margin-top: 135px;
    font-size: 15px;
    background-color: beige;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#footer {
    background-color: black;
    border-radius: 30px 30px 0px 0px;
    width: 85%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.table {
    width: 99%;
    border-radius: 5px;
    border-color: #03122e;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-align: center;
}

.table-header {
    display: flex;
    padding: 10px 0 0;
    width: 100%;
    height: 30px;
    border-radius: 5px 5px 0px 0px;
    color: white;
    background-image: linear-gradient(to bottom, #03122e, #001b5b);
    margin-left: auto;
    margin-right: auto;
}

.tableheader__item {
}

.table-row {
    border-color: #03122e;
    display: flex;
    padding: 5px 0px 4px 0px;
    width: 100%;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
}

    .table-row:nth-child(even) {
        background-color: lightgray; /* Light gray for even rows */
    }

    .table-row:nth-child(odd) {
        background-color: whitesmoke; /* Dark gray for odd rows */
    }

    .table-row a {
        color: #001b5b;
    }

.table-data, .tableheader__item {
    flex: 1 1 30%;
    text-align: center;
}

.table2 {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-collapse: collapse;
    padding: 10px;
}

.table2-header {
    position: sticky;
    text-align: center;
    width: 100%;
    height: 40px;
    color: white;
    background-image: linear-gradient(to bottom, #03122e, #001b5b);
    margin-left: auto;
    margin-right: auto;
}

.table2-row {
    text-align: center;
    border-color: #03122e;
    width: 100%;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
}



    .table2-row:nth-child(even) {
        background-color: lightgray; /* Light gray for even rows */
    }

    .table2-row:nth-child(odd) {
        background-color: whitesmoke; /* Dark gray for odd rows */
    }

    .table2-row a {
        color: #001b5b;
    }

.ok {
    background-color: forestgreen;
}

.hata {
    background-color: lightcoral;
}

.header-link {
    text-align: center;
    color: #fff;
}

    .header-link a {
        color: white;
        font-family: "Arial";
    }

        .header-link a:hover {
            color: #37FF8B;
        }

.top-list {
    text-align: center;
}

    .top-list a {
        color: #001b5b;
    }

        .top-list a:hover {
            color: #258e51;
        }

.admin {
    width: 100%;
    text-align: center;
}

    .admin a {
        color: #001b5b;
    }


a {
    text-decoration: none;
}


/*Dropdown in Header*/
.dropdown {
    border-radius: 5px;
    float: none;
    overflow: hidden;
}

    .dropdown .dropbtn {
        height: 40px;
        font-size: 22px;
        border: none;
        outline: none;
        color: black;
        padding: 7px 16px;
        margin: 0;
        border-radius: 5px;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 15px;
    border-radius: 5px;
}

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-radius: 5px;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
            border-radius: 5px;
        }

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 5px;
}

/*Pagination Ýþlemi*/
.paginationPanel {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 20px;
}

    .paginationPanel a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin: 0 4px;
    }

        .paginationPanel a.active {
            background-color: #4CAF50;
        }

        .paginationPanel a:hover:not(.active) {
            background-color: #7d7c7c;
            color: white;
        }

.kopyalanamaz {
    user-select: none;
}

.yarisma-style td {
    width: 575px;
}

.yarisma-style-button {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
/*Sil Linkleri Ýçin*/
.btnsil a {
    width: 100px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #a61414;
}

    .btnsil a, .btnsil a span {
        transition: 200ms;
    }

        .btnsil a .text {
            transform: translateX(30px);
            color: white;
            font-weight: bold;
        }

        .btnsil a .icon {
            border-left: 1px solid #e41b1b;
            transform: translateX(50px);
            height: 25px;
            width: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
        }

        .btnsil a svg {
            width: 15px;
            fill: #eee;
        }

        .btnsil a:hover {
            background: #e62222;
        }

            .btnsil a:hover .text {
                color: transparent;
            }

            .btnsil a:hover .icon {
                width: 100px;
                border-left: none;
                transform: translateX(-8px);
            }

        .btnsil a:focus {
            outline: none;
        }

        .btnsil a:active .icon svg {
            transform: scale(0.8);
        }

/*Düzenle Linkleri Ýçin*/
.btnedit a {
    width: 100px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #13468f;
}

    .btnedit a, .btnedit a span {
        transition: 200ms;
    }

        .btnedit a .text {
            transform: translateX(10px);
            color: white;
            font-weight: bold;
        }

        .btnedit a .icon {
            border-left: 1px solid #216fdb;
            transform: translateX(15px);
            height: 25px;
            width: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btnedit a svg {
            width: 15px;
            fill: #eee;
        }

        .btnedit a:hover {
            background: #216fdb;
        }

            .btnedit a:hover .text {
                color: transparent;
            }

            .btnedit a:hover .icon {
                width: 100px;
                border-left: none;
                transform: translateX(-30px);
            }

        .btnedit a:focus {
            outline: none;
        }

        .btnedit a:active .icon svg {
            transform: scale(0.8);
        }

/*Ýptal Butonlarý Ýçin*/
.btncancel button {
    width: 100px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
}

    .btncancel button, .btncancel button span {
        transition: 200ms;
    }

        .btncancel button .text {
            transform: translateX(10px);
            color: white;
            font-weight: bold;
        }

        .btncancel button .icon {
            position: absolute;
            border-left: 1px solid #c41b1b;
            transform: translateX(70px);
            height: 25px;
            width: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btncancel button svg {
            width: 15px;
            fill: #eee;
        }

        .btncancel button:hover {
            background: #ff3636;
        }

            .btncancel button:hover .text {
                color: transparent;
            }

            .btncancel button:hover .icon {
                width: 100px;
                border-left: none;
                transform: translateX(0);
            }

        .btncancel button:focus {
            outline: none;
        }

        .btncancel button:active .icon svg {
            transform: scale(0.8);
        }

/*Gönder Button*/
.btnGonder button {
    width: 100px;
    height: 30px;
    font-family: inherit;
    font-size: 13px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

    .btnGonder button span {
        display: block;
        margin-left: 0.5em;
        transition: all 0.3s ease-in-out;
    }

    .btnGonder button .text {
        transform: translateX(px);
        color: white;
        font-weight: bold;
    }

    .btnGonder button svg {
        display: block;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out;
    }

    .btnGonder button:hover .svg-wrapper {
        animation: fly-1 0.6s ease-in-out infinite alternate;
    }

    .btnGonder button:hover svg {
        transform: translateX(2em) rotate(45deg) scale(1.1);
    }

    .btnGonder button:hover span {
        transform: translateX(5em);
    }

    .btnGonder button:active {
        transform: scale(0.95);
    }

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}
/* === removing default button style ===*/
.logo a {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}
/* button styling */
.logo a {
    --border-right: 4px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    color: white;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}
    /* this is the text, when you hover on button */
    .logo a .hover-text {
        position: absolute;
        box-sizing: border-box;
        content: attr(data-text);
        color: var(--animation-color);
        width: 0%;
        inset: 0;
        border-right: var(--border-right) solid var(--animation-color);
        overflow: hidden;
        transition: 0.8s;
        -webkit-text-stroke: 1px var(--animation-color);
    }
    /* hover */
    .logo a:hover .hover-text {
        width: 100%;
        filter: drop-shadow(0 0 20px var(--animation-color))
    }

.btnnext {
    background: #001b5b;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #03122e;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

    .btnnext .icon {
        background: white;
        margin-left: 1em;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.2em;
        width: 2.2em;
        border-radius: 5px;
        box-shadow: 0.1em 0.1em 0.6em 0.2em #03122e;
        right: 0.3em;
        transition: all 0.3s;
    }

    .btnnext:hover .icon {
        width: calc(100% - 0.6em);
    }

    .btnnext .icon svg {
        width: 1.1em;
        transition: transform 0.3s;
        color: #03122e;
    }

    .btnnext:hover .icon svg {
        transform: translateX(0.1em);
    }

    .btnnext:active .icon {
        transform: scale(0.95);
    }

.light-button button.bt {
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
    outline: none;
    background: none;
    border: none;
}

    .light-button button.bt .button-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100px;
        background-color: #0a0a0a;
        border-radius: 5px;
        color: #0f0f0f;
        font-weight: 700;
        transition: 300ms;
        outline: #0f0f0f 2px solid;
    }

        .light-button button.bt .button-holder svg {
            height: 50px;
            fill: #0f0f0f;
            transition: 300ms;
        }

    .light-button button.bt .light-holder {
        position: absolute;
        height: 200px;
        width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .light-button button.bt .light-holder .dot {
            position: absolute;
            top: 0;
            width: 10px;
            height: 10px;
            background-color: #0a0a0a;
            border-radius: 5px;
            z-index: 2;
        }

        .light-button button.bt .light-holder .light {
            position: absolute;
            top: 0;
            width: 200px;
            height: 200px;
            clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
            background: transparent;
        }

    .light-button button.bt:hover .button-holder svg {
        fill: rgba(233, 57, 26);
    }

    .light-button button.bt:hover .button-holder {
        color: rgba(233, 57, 26);
        outline: rgba(233, 57, 26) 2px solid;
        outline-offset: 2px;
    }

    .light-button button.bt:hover .light-holder .light {
        background: rgb(255, 255, 255);
        background: linear-gradient( 180deg, rgb(233, 57, 26) 0%, rgba(200, 20, 100, 0) 75%, rgba(200, 20, 100, 0) 100% );
    }

.btnscnk {
    background-color: #eee;
    padding: 0.8rem;
    font-size: 1.3rem;
    width: 12em;
    border-radius: 5px;
    color: black !important; /* !important ekleyerek belki deðiþiklikleri zorla uygulayabilirsiniz */
    cursor: pointer;
}

    .btnscnk:active {
        color: black !important;
        transform: translateY(0.2rem);
    }

    .btnscnk:hover:not(:disabled) {
        background: gray;
        color: black;
    }

    .btnscnk:disabled {
        cursor: auto;
        color: white;
    }


/*Evet ve Hayýr Butonlarý*/
.yesNO {
    display: flex;
    width: 250px;
    gap: 10px;
    --b: 5px; /* the border thickness */
    --h: 1.65em; /* the height */
}

    .yesNO button {
        --_c: #88C100;
        flex: calc(0.75 + var(--_s,0));
        min-width: 0;
        font-size: 20px;
        font-weight: bold;
        height: var(--h);
        cursor: pointer;
        color: var(--_c);
        border: var(--b) solid var(--_c);
        background: conic-gradient(at calc(100% - 1.3*var(--b)) 0,var(--_c) 209deg, #0000 211deg) border-box;
        clip-path: polygon(0 0,100% 0,calc(100% - 0.577*var(--h)) 100%,0 100%);
        padding: 0 calc(0.288*var(--h)) 0 0;
        margin: 0 calc(-0.288*var(--h)) 0 0;
        box-sizing: border-box;
        transition: flex .4s;
    }

        .yesNO button + button {
            --_c: #FF003C;
            flex: calc(.75 + var(--_s,0));
            background: conic-gradient(from -90deg at calc(1.3*var(--b)) 100%,var(--_c) 119deg, #0000 121deg) border-box;
            clip-path: polygon(calc(0.577*var(--h)) 0,100% 0,100% 100%,0 100%);
            margin: 0 0 0 calc(-0.288*var(--h));
            padding: 0 0 0 calc(0.288*var(--h));
        }

        .yesNO button:focus-visible {
            outline-offset: calc(-2*var(--b));
            outline: calc(var(--b)/2) solid #000;
            background: none;
            clip-path: none;
            margin: 0;
            padding: 0;
        }

            .yesNO button:focus-visible + button {
                background: none;
                clip-path: none;
                margin: 0;
                padding: 0;
            }

        .yesNO button:has(+ button:focus-visible) {
            background: none;
            clip-path: none;
            margin: 0;
            padding: 0;
        }

        .yesNO button:hover,
        button:active:not(:focus-visible) {
            --_s: .75;
        }

        .yesNO button:active {
            box-shadow: inset 0 0 0 100vmax var(--_c);
            color: #fff;
        }

.btnio {
    width: 100px;
    height: 40px;
    border: 3px solid #343a40;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
    background: white !important;
    font-weight: 550;
    font-family: "Montserrat", sans-serif;
}

    .btnio:hover {
        background: #343a40 !important;
        color: white !important;
    }

.current-page {
    color: white !important;
    background-color: #001b5b;
    font-weight: bold;
    /* Add any other styling you want for the current page hyperlink */
}

.btngnclle {
    position: relative;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #226602;
    background-color: #226602;
    overflow: hidden;
}

.btngnclle, .button__icon, .button__text {
    transition: all 0.3s;
}

    .btngnclle .button__text {
        transform: translateX(10px);
        color: #fff;
        font-weight: 600;
    }

    .btngnclle .button__icon {
        position: absolute;
        transform: translateX(82px);
        height: 100%;
        width: 30px;
        background-color: #226602;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .btngnclle .button__icon:hover {
            background: #349905;
        }

    .btngnclle .svg {
        width: 20px;
        fill: #fff;
    }

    .btngnclle:hover {
        background: #349905;
    }

        .btngnclle:hover .button__text {
            color: transparent;
        }

        .btngnclle:hover .button__icon {
            width: 120px;
            transform: translateX(-5px);
        }

    .btngnclle:active .button__icon {
        background-color: #349905;
    }

    .btngnclle:active {
        border: 1px solid #349905;
    }

.btnonay a {
    width: 100px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #226602;
}

    .btnonay a, .btnonay a span {
        transition: 200ms;
    }

        .btnonay a .text {
            transform: translateX(10px);
            color: white;
            font-weight: bold;
        }

        .btnonay a .icon {
            position: absolute;
            border-left: 1px solid #349905;
            transform: translateX(70px);
            height: 25px;
            width: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btnonay a svg {
            width: 15px;
            fill: #eee;
        }

        .btnonay a:hover {
            background: #349905;
        }

            .btnonay a:hover .text {
                color: transparent;
            }

            .btnonay a:hover .icon {
                width: 100px;
                border-left: none;
                transform: translateX(0);
            }

        .btnonay a:focus {
            outline: none;
        }

        .btnonay a:active .icon svg {
            transform: scale(0.8);
        }

.btnengel a {
    width: 100px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #a61414;
}

    .btnengel a, .btnengel a span {
        transition: 200ms;
    }

        .btnengel a .text {
            transform: translateX(7px);
            color: white;
            font-weight: bold;
        }

        .btnengel a .icon {
            position: absolute;
            border-left: 1px solid #e41b1b;
            transform: translateX(70px);
            height: 25px;
            width: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btnengel a svg {
            width: 15px;
            fill: #eee;
        }

        .btnengel a:hover {
            background: #e62222;
        }

            .btnengel a:hover .text {
                color: transparent;
            }

            .btnengel a:hover .icon {
                width: 100px;
                border-left: none;
                transform: translateX(0);
            }

        .btnengel a:focus {
            outline: none;
        }

        .btnengel a:active .icon svg {
            transform: scale(0.8);
        }

.basla {
    margin-top: 145px;
    position: relative;
    width: 16em;
    height: 6em;
    outline: none;
    border-radius: 5px;
    transition: 0.1s;
    background-color: transparent;
    border: none;
    font-size: 35px;
    font-weight: bold;
    color: #03122e;
}

    .basla:hover {
        color: mediumaquamarine;
        cursor: pointer;
    }

#clip {
    --color: #03122e;
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 5px double var(--color);
    box-shadow: inset 0px 0px 15px 15px #195480;
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.arrow {
    position: absolute;
    transition: 0.2s;
    background-color: #03122e;
    top: 33.5%;
    width: 14%;
    height: 38%;
}

#leftArrow {
    left: -15.1%;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

#rightArrow {
    -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
    left: 105%;
}

.basla:hover #rightArrow {
    background-color: mediumaquamarine;
    left: -15%;
    animation: 0.6s ease-in-out both infinite alternate rightArrow8;
}

.basla:hover #leftArrow {
    background-color: mediumaquamarine;
    left: 105%;
    animation: 0.6s ease-in-out both infinite alternate leftArrow8;
}

.corner {
    position: absolute;
    width: 4em;
    height: 4em;
    background-color: #03122e;
    box-shadow: inset 1px 1px 8px #03122e;
    transform: scale(1) rotate(45deg);
    transition: 0.2s;
}

#rightTop {
    top: -1.98em;
    left: 91%;
}

#leftTop {
    top: -1.96em;
    left: -3.0em;
}

#leftBottom {
    top: 2.10em;
    left: -2.15em;
}

#rightBottom {
    top: 45%;
    left: 88%;
}

.basla:hover #leftTop {
    animation: 0.1s ease-in-out 0.05s both changeColor8, 0.2s linear 0.4s both lightEffect8;
}

.basla:hover #rightTop {
    animation: 0.1s ease-in-out 0.15s both changeColor8, 0.2s linear 0.4s both lightEffect8;
}

.basla:hover #rightBottom {
    animation: 0.1s ease-in-out 0.25s both changeColor8, 0.2s linear 0.4s both lightEffect8;
}

.basla:hover #leftBottom {
    animation: 0.1s ease-in-out 0.35s both changeColor8, 0.2s linear 0.4s both lightEffect8;
}

.basla:hover .corner {
    transform: scale(1.25) rotate(45deg);
}

.basla:hover #clip {
    animation: 0.2s ease-in-out 0.55s both greenLight8;
    --color: mediumaquamarine;
}

@keyframes changeColor8 {
    from {
        background-color: #03122e;
    }

    to {
        background-color: mediumaquamarine;
    }
}

@keyframes lightEffect8 {
    from {
        box-shadow: 1px 1px 5px #03122e;
    }

    to {
        box-shadow: 0 0 2px mediumaquamarine;
    }
}

@keyframes greenLight8 {
    from {
    }

    to {
        box-shadow: inset 0px 0px 15px 15px mediumaquamarine;
    }
}

@keyframes leftArrow8 {
    from {
        transform: translate(0px);
    }

    to {
        transform: translateX(10px);
    }
}

@keyframes rightArrow8 {
    from {
        transform: translate(0px);
    }

    to {
        transform: translateX(-10px);
    }
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

    .row .label {
        padding: 20px;
        display: flex;
        overflow: hidden;
    }

        .row .label button {
            margin-left: 25px;
            margin-right: 25px;
        }

            .row .label button:hover {
                cursor: pointer;
                background: mediumaquamarine;
            }

        .row .label .icon-box {
            display: flex;
            width: 120px;
            padding: 20px;
            flex-direction: column;
            align-items: center;
            background-color: #031a45;
            color: #fff;
            border-radius: 3px;
            font-size: 21px;
            transition: 0.5s;
            user-select: none;
        }

            .row .label .icon-box span {
                margin: 5px;
                font-size: 18px;
            }

/*Puanýmý Kaydet Butonu*/
.btnsave {
    width: 100px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #13468f;
}

    .btnsave, .btnsave span {
        transition: 200ms;
    }

        .btnsave .text {
            transform: translateX(-10px);
            color: white;
            font-weight: bold;
        }

        .btnsave .icon {
            position: absolute;
            border-left: 1px solid #216fdb;
            transform: translateX(70px);
            height: 25px;
            width: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btnsave svg {
            width: 15px;
            fill: #eee;
        }

        .btnsave:hover {
            background: #216fdb;
        }

            .btnsave:hover .text {
                color: transparent;
            }

            .btnsave:hover .icon {
                width: 100px;
                border-left: none;
                transform: translateX(-5px);
            }

        .btnsave:focus {
            outline: none;
        }

        .btnsave:active .icon svg {
            transform: scale(0.8);
        }

.btnrpt {
    display: flex;
    margin-left: auto;
    align-items: center;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background: #752a26;
    cursor: pointer;
}

    .btnrpt .lable {
        line-height: 14px;
        font-size: 14px;
        color: #eee;
        font-weight: bold;
        font-family: sans-serif;
    }

    .btnrpt:hover {
        background: #752a26;
    }

        .btnrpt:hover .svg-icon {
            animation: spin 2s linear infinite;
        }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.h1 {
    padding: 2px 0 0 0;
    height: 20px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    text-transform: uppercase;
}

/*TextBoxlar Ýçin*/
.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #707070;
    outline: 0;
    font-size: 17px;
    color: #000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

    .form__field::placeholder {
        color: transparent;
    }

    .form__field:placeholder-shown ~ .form__label {
        font-size: 17px;
        cursor: text;
        top: 20px;
    }

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #707070;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #03122e, #03122e);
    border-image-slice: 1;
}

    .form__field:focus ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 17px;
        color: #031a45;
        font-weight: 700;
    }

/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

/*Github Linki*/
.github {
    display: flex;
    gap: 6px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(to right, #001b5b, #03122e);
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid #666666;
    transition: transform 0.2s, color 0.2s, border-color 0.2s;
    margin-top: 15px;
}

    .github:hover {
        transform: scale(1.05);
        border-color: #37FF8B;
    }

    .github svg {
        height: 24px;
        width: 24px;
    }

    .github .text {
        margin-top: 3px;
    }
