body {
    background-color: aquamarine;
    font-family: Arial, sans-serif;
}

#header {
    background-image: linear-gradient(to bottom, #002d96, #001b5b);
    top: 0px;
    width: 1200px;
    height: 135px;
    font-size: 20px;
    background-color: rgb(0, 98, 158);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px 30px 30px 30px;
}

#content {
    background-image: linear-gradient(to bottom, #fff, #fff);
    width: 1150px;
    height: auto;
    margin-top: 135px;
    font-size: 15px;
    background-color: beige;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.header-link {
    text-align: center;
    color: #fff;
}

    .header-link a {
        color: white;
    }

.top-list {
    text-align: center;
}

    .top-list a {
        color: #001b5b;
    }

a:hover {
    color: crimson;
    background-color: white;
}

.admin a {
    color: #001b5b;
}


a {
    text-decoration: none;
}


/*Dropdown in Header*/
.dropdown {
    float: left;
    overflow: hidden;
}

    .dropdown .dropbtn {
        font-size: 25px;
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        margin: 0;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 15px;
}

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

/*Pagination Ýþlemi*/
.paginationPanel {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 20px;
}

    .paginationPanel a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin: 0 4px;
    }

        .paginationPanel a.active {
            background-color: #4CAF50;
        }

        .paginationPanel a:hover:not(.active) {
            background-color: #ddd;
        }

.kopyalanamaz {
    user-select: none;
}

.yarisma-style td {
    width: 575px;
}

.yarisma-style-button {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

/*Sil Linkleri Ýçin*/
.btnsil a {
    width: 100px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
}

    .btnsil a, .btnsil a span {
        transition: 200ms;
    }

        .btnsil a .text {
            transform: translateX(35px);
            color: white;
            font-weight: bold;
        }

        .btnsil a .icon {
            position: absolute;
            border-left: 1px solid #c41b1b;
            transform: translateX(70px);
            height: 25px;
            width: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btnsil a svg {
            width: 15px;
            fill: #eee;
        }

        .btnsil a:hover {
            background: #ff3636;
        }

            .btnsil a:hover .text {
                color: transparent;
            }

            .btnsil a:hover .icon {
                width: 100px;
                border-left: none;
                transform: translateX(0);
            }

        .btnsil a:focus {
            outline: none;
        }

        .btnsil a:active .icon svg {
            transform: scale(0.8);
        }

/*Düzenle Linkleri Ýçin*/
.btnedit a {
    width: 100px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #13468f;
}

    .btnedit a, .btnedit a span {
        transition: 200ms;
    }

        .btnedit a .text {
            transform: translateX(10px);
            color: white;
            font-weight: bold;
        }

        .btnedit a .icon {
            position: absolute;
            border-left: 1px solid #216fdb;
            transform: translateX(70px);
            height: 25px;
            width: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btnedit a svg {
            width: 15px;
            fill: #eee;
        }

        .btnedit a:hover {
            background: #216fdb;
        }

            .btnedit a:hover .text {
                color: transparent;
            }

            .btnedit a:hover .icon {
                width: 100px;
                border-left: none;
                transform: translateX(0);
            }

        .btnedit a:focus {
            outline: none;
        }

        .btnedit a:active .icon svg {
            transform: scale(0.8);
        }

/*Ýptal Butonlarý Ýçin*/
.btncancel button {
    width: 100px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
}

    .btncancel button, .btncancel button span {
        transition: 200ms;
    }

        .btncancel button .text {
            transform: translateX(10px);
            color: white;
            font-weight: bold;
        }

        .btncancel button .icon {
            position: absolute;
            border-left: 1px solid #c41b1b;
            transform: translateX(70px);
            height: 25px;
            width: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btncancel button svg {
            width: 15px;
            fill: #eee;
        }

        .btncancel button:hover {
            background: #ff3636;
        }

            .btncancel button:hover .text {
                color: transparent;
            }

            .btncancel button:hover .icon {
                width: 100px;
                border-left: none;
                transform: translateX(0);
            }

        .btncancel button:focus {
            outline: none;
        }

        .btncancel button:active .icon svg {
            transform: scale(0.8);
        }

/*Gönder Button*/
.btnGonder button {
    width: 100px;
    height: 30px;
    font-family: inherit;
    font-size: 13px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

    .btnGonder button span {
        display: block;
        margin-left: 0.5em;
        transition: all 0.3s ease-in-out;
    }

    .btnGonder button .text {
        transform: translateX(px);
        color: white;
        font-weight: bold;
    }

    .btnGonder button svg {
        display: block;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out;
    }

    .btnGonder button:hover .svg-wrapper {
        animation: fly-1 0.6s ease-in-out infinite alternate;
    }

    .btnGonder button:hover svg {
        transform: translateX(2em) rotate(45deg) scale(1.1);
    }

    .btnGonder button:hover span {
        transform: translateX(5em);
    }

    .btnGonder button:active {
        transform: scale(0.95);
    }

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}
